In [2]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:@localhost/etl_demo")

df_raw = pd.read_csv("employees_1000.csv")

In [3]:
df_raw.to_sql(
    name="employees_raw",
    con=engine,
    if_exists="replace",   # first load only
    index=False
)

1000

# Create the CLEAN / ANALYTICS table
DROP TABLE IF EXISTS employees_extended;

CREATE TABLE employees_extended AS
SELECT
    name,

    /* Fill missing age with global average */
    COALESCE(
        age,
        (SELECT AVG(age) FROM employees_raw)
    ) AS age,

    /* Fill missing salary with global average */
    COALESCE(
        salary,
        (SELECT AVG(salary) FROM employees_raw)
    ) AS salary,

    /* Handle missing categorical values */
    COALESCE(city, 'Unknown') AS city,
    COALESCE(department, 'Unknown') AS department,

    /* Handle missing dates */
    COALESCE(hire_date, '2015-01-01') AS hire_date,

    /* Derived feature */
    TIMESTAMPDIFF(
        DAY,
        COALESCE(hire_date, '2015-01-01'),
        CURDATE()
    ) / 365.25 AS years_of_service

FROM employees_raw;

# Create  BI table
CREATE TABLE employees_analytics AS
SELECT
    department,
    city,
    COUNT(*) AS employee_count,
    AVG(salary) AS avg_salary,
    AVG(years_of_service) AS avg_tenure
FROM employees_extended
GROUP BY department, city;

In [6]:
df_extended = pd.read_sql(
    "SELECT * FROM employees_extended LIMIT 20",
    engine
)

df_extended

,name,age,salary,city,department,hire_date,years_of_service
0,Person1,58.000000,74327.000000,Bergen,Unknown,2017-08-15,8.3943
1,Person2,48.000000,98904.000000,Tromsø,Support,2019-12-24,6.0370
2,Person3,34.000000,33797.000000,Oslo,Marketing,2024-05-08,1.6646
3,Person4,27.000000,77882.000000,Bergen,Sales,2016-11-05,9.1691
4,Person5,40.000000,43718.000000,Unknown,Unknown,2019-12-25,6.0342
5,Person6,58.000000,64560.000000,Bergen,IT,2017-03-30,8.7721
6,Person7,39.945006,74248.210177,Stavanger,Unknown,2016-06-07,9.5825
7,Person8,42.000000,52116.000000,Stavanger,Unknown,2015-04-17,10.7242
8,Person9,30.000000,66244.000000,Stavanger,HR,2019-01-08,6.9952
9,Person10,30.000000,31645.000000,Kristiansand,Marketing,2014-10-24,11.2033
10,Person11,43.000000,74248.210177,Kristiansand,Support,2023-12-04,2.0917
11,Person12,55.000000,49256.000000,Oslo,Marketing,2013-01-21,12.9582
12,Person13,39.945006,83173.000000,Stavanger,IT,2017-01-11,8.9856
13,Person14,43.000000,67430.000000,Tromsø,Unknown,2019-08-01,6.4339
14,Person15,39.945006,69282.000000,Bergen,Marketing,2011-05-08,14.6667
15,Person16,41.000000,74248.210177,Trondheim,Sales,2015-01-01,11.0144
16,Person17,21.000000,98244.000000,Tromsø,Sales,2011-09-12,14.3190
17,Person18,43.000000,41694.000000,Kristiansand,HR,2018-11-07,7.1650
18,Person19,49.000000,86264.000000,Kristiansand,Sales,2020-06-20,5.5469
19,Person20,39.945006,105060.000000,Tromsø,IT,2016-07-08,9.4976

In [7]:
df_analytics = pd.read_sql(
    "SELECT * FROM employees_analytics",
    engine
)

df_analytics

     department          city  employee_count    avg_salary  avg_tenure
0   Engineering        Bergen              26  64514.716559    8.999315
1   Engineering  Kristiansand              27  75637.475582    7.034452
2   Engineering          Oslo              21  77023.581437   10.036971
3   Engineering     Stavanger              17  74009.764706    7.251782
4   Engineering        Tromsø              16  80031.401272   10.274981
5   Engineering     Trondheim              18  76714.602262    7.427950
6   Engineering       Unknown              13  77280.000000    9.015108
7       Finance        Bergen              21  77580.315740    9.888990
8       Finance  Kristiansand              24  71014.567939    7.926538
9       Finance          Oslo              21  77148.696692    9.334257
10      Finance     Stavanger              28  76748.887168    9.084193
11      Finance        Tromsø              12  69680.000000    8.457667
12      Finance     Trondheim              15  77117.242035    8.256827
13      Finance       Unknown              12  65481.118363    8.421408
14           HR        Bergen              12  75473.600848    9.174325
15           HR  Kristiansand              21  68648.934787    7.934829
16           HR          Oslo              15  71547.628024    7.641167
17           HR     Stavanger              20  71007.871018    8.294320
18           HR        Tromsø              15  68898.828024    7.292353
19           HR     Trondheim              12  83785.267515    8.983125
20           HR       Unknown              13  70196.647720    8.368777
21           IT        Bergen              27  68818.933710    8.907348
22           IT  Kristiansand              16  74451.437500    8.908631
23           IT          Oslo              21  73455.020017    8.890833
24           IT     Stavanger              28  78831.479298    7.969404
25           IT        Tromsø              19  72246.800536    7.354742
26           IT     Trondheim              15  73581.828024    9.898980
27           IT       Unknown              14  74349.586441    7.950729
28    Marketing        Bergen              19  78574.221588    9.497600
29    Marketing  Kristiansand              19  70055.000000    8.631153
30    Marketing          Oslo              20  73149.550000    9.162350
31    Marketing     Stavanger              15  59797.414012    8.846180
32    Marketing        Tromsø              15  66423.361357    7.580373
33    Marketing     Trondheim              19  73668.537378    9.852800
34    Marketing       Unknown              13  85253.955412    7.944823
35        Sales        Bergen              15  76711.947345    9.809167
36        Sales  Kristiansand              22  74863.464099    9.014377
37        Sales          Oslo              17  72202.306481    8.046229
38        Sales     Stavanger              19  77461.063694    9.100326
39        Sales        Tromsø              27  71782.674451    8.016441
40        Sales     Trondheim              23  79846.523952    8.900165
41        Sales       Unknown              10  64250.400000    9.450520
42      Support        Bergen              16  73195.013136    8.655194
43      Support  Kristiansand              18  78555.046706    9.959994
44      Support          Oslo               9  82785.690020    9.088444
45      Support     Stavanger              25  73163.688407    8.376300
46      Support        Tromsø              23  73521.347826    9.582604
47      Support     Trondheim              19  78291.886353    8.276674
48      Support       Unknown              11  88187.473652    7.728218
49      Unknown        Bergen              21  67056.030025    9.740362
50      Unknown  Kristiansand              12  67265.820059    8.284733
51      Unknown          Oslo              16  83051.776272    7.243150
52      Unknown     Stavanger              17  79732.306481    8.889318
53      Unknown        Tromsø              18  78030.900565    7.403444
54      Unknown     Trondheim              12  92444.000000   10.446733
55      Unknown       Unknown              11  61214.401850    9.924473

In [8]:
print("RAW → EXTENDED → ANALYTICS")

print("\nRAW sample:")
display(pd.read_sql("SELECT * FROM employees_raw LIMIT 5", engine))

print("\nEXTENDED sample:")
display(pd.read_sql("SELECT * FROM employees_extended LIMIT 5", engine))

print("\nANALYTICS:")
display(pd.read_sql("SELECT * FROM employees_analytics", engine))

RAW → EXTENDED → ANALYTICS

RAW sample:

      name   age   salary    city department   hire_date
0  Person1  58.0  74327.0  Bergen       None  2017-08-15
1  Person2  48.0  98904.0  Tromsø    Support  2019-12-24
2  Person3  34.0  33797.0    Oslo  Marketing  2024-05-08
3  Person4  27.0  77882.0  Bergen      Sales  2016-11-05
4  Person5  40.0  43718.0    None       None  2019-12-25

EXTENDED sample:

      name   age   salary     city department   hire_date  years_of_service
0  Person1  58.0  74327.0   Bergen    Unknown  2017-08-15            8.3943
1  Person2  48.0  98904.0   Tromsø    Support  2019-12-24            6.0370
2  Person3  34.0  33797.0     Oslo  Marketing  2024-05-08            1.6646
3  Person4  27.0  77882.0   Bergen      Sales  2016-11-05            9.1691
4  Person5  40.0  43718.0  Unknown    Unknown  2019-12-25            6.0342

ANALYTICS:

     department          city  employee_count    avg_salary  avg_tenure
0   Engineering        Bergen              26  64514.716559    8.999315
1   Engineering  Kristiansand              27  75637.475582    7.034452
2   Engineering          Oslo              21  77023.581437   10.036971
3   Engineering     Stavanger              17  74009.764706    7.251782
4   Engineering        Tromsø              16  80031.401272   10.274981
5   Engineering     Trondheim              18  76714.602262    7.427950
6   Engineering       Unknown              13  77280.000000    9.015108
7       Finance        Bergen              21  77580.315740    9.888990
8       Finance  Kristiansand              24  71014.567939    7.926538
9       Finance          Oslo              21  77148.696692    9.334257
10      Finance     Stavanger              28  76748.887168    9.084193
11      Finance        Tromsø              12  69680.000000    8.457667
12      Finance     Trondheim              15  77117.242035    8.256827
13      Finance       Unknown              12  65481.118363    8.421408
14           HR        Bergen              12  75473.600848    9.174325
15           HR  Kristiansand              21  68648.934787    7.934829
16           HR          Oslo              15  71547.628024    7.641167
17           HR     Stavanger              20  71007.871018    8.294320
18           HR        Tromsø              15  68898.828024    7.292353
19           HR     Trondheim              12  83785.267515    8.983125
20           HR       Unknown              13  70196.647720    8.368777
21           IT        Bergen              27  68818.933710    8.907348
22           IT  Kristiansand              16  74451.437500    8.908631
23           IT          Oslo              21  73455.020017    8.890833
24           IT     Stavanger              28  78831.479298    7.969404
25           IT        Tromsø              19  72246.800536    7.354742
26           IT     Trondheim              15  73581.828024    9.898980
27           IT       Unknown              14  74349.586441    7.950729
28    Marketing        Bergen              19  78574.221588    9.497600
29    Marketing  Kristiansand              19  70055.000000    8.631153
30    Marketing          Oslo              20  73149.550000    9.162350
31    Marketing     Stavanger              15  59797.414012    8.846180
32    Marketing        Tromsø              15  66423.361357    7.580373
33    Marketing     Trondheim              19  73668.537378    9.852800
34    Marketing       Unknown              13  85253.955412    7.944823
35        Sales        Bergen              15  76711.947345    9.809167
36        Sales  Kristiansand              22  74863.464099    9.014377
37        Sales          Oslo              17  72202.306481    8.046229
38        Sales     Stavanger              19  77461.063694    9.100326
39        Sales        Tromsø              27  71782.674451    8.016441
40        Sales     Trondheim              23  79846.523952    8.900165
41        Sales       Unknown              10  64250.400000    9.450520
42      Support        Bergen              16  73195.013136    8.655194
43      Support  Kristiansand              18  78555.046706    9.959994
44      Support          Oslo               9  82785.690020    9.088444
45      Support     Stavanger              25  73163.688407    8.376300
46      Support        Tromsø              23  73521.347826    9.582604
47      Support     Trondheim              19  78291.886353    8.276674
48      Support       Unknown              11  88187.473652    7.728218
49      Unknown        Bergen              21  67056.030025    9.740362
50      Unknown  Kristiansand              12  67265.820059    8.284733
51      Unknown          Oslo              16  83051.776272    7.243150
52      Unknown     Stavanger              17  79732.306481    8.889318
53      Unknown        Tromsø              18  78030.900565    7.403444
54      Unknown     Trondheim              12  92444.000000   10.446733
55      Unknown       Unknown              11  61214.401850    9.924473